
<%
  let contType = '',
      indexBody = '',
      ball = false,
      misc,
      post;
  if (is_root()) {
    contType = 'main__container';
    indexBody = 'main';
  }
  if (page.layout == 'crystalball') {
    ball = true;
  }
  if (page.layout == 'miscellaneous') {
    misc = "miscellaneous";
  }
  if (page.layout == 'post') {
    post = "post";
  }
%>

<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>
<body class="<%= indexBody %>">
  <main class="container-wrapper">
    <!--[if lt IE 11]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please, upgrade</a>.</p>
    <![endif]-->
    <%- partial('_partial/navbar', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/sidebar') %>
    <div class="container <%= contType %> <%= misc %> <%= post %>">
      <noscript><small class="no-js">You disabled Javascript. Some things won't work.</small></noscript>
      <%- body %>
    </div>
  </main>
  <!-- temporary https redirect hack -->
  <script>
    const host = "fediverse.party";
    if ((host == window.location.host || "www." + host == window.location.host ) && (window.location.protocol != "https:")) {
      window.location.protocol = "https";
    }
  </script>

  <script src="/js/main.min.js"></script>
  <% if (is_root()) { %>  <script src="/js/index.min.js"></script> <% } %>
  <% if (ball) { %> <script src="/js/ball.min.js"></script> <% } %>
</body>
</html>
