$mq-xsmall: 33.9em; // max-width 542px, xxSmall devices (portrait phones)
$mq-small: 51em; // max-width 816px, small devices (landscape phones)
$mq-medium: 64em; //  max-width 1024px, medium devices (tablets)
$mq-large: 80em; // max-width 1280px, large devices (laptops, desktops)
$mq-xlarge: 90em; // max-width 1440px, xLarge devices (desktops)
